*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.5rem;
}

body {
    background-color: black;
}

.nav-container {
     display:flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     max-width: 100%;
     height: auto;
     padding-left: .5rem;
     padding-bottom: .4rem;
     background-color: #000000;
     color: #b28e5c; 
     border-bottom: .1rem solid #b28e5c;
}

.logo {
    display: inline-flex;
    width: auto;
    height: 5em;
    background-color: #b28e5c;
    border-radius: 2rem;    
}


.logo img {
    max-width: 100%;
    max-height: 100%;
}

.list li {
    display: inline-flex;
    padding-right: .8em;
    color: #b28e5c;
}

.list a {
    cursor:pointer;
}

.list a li:hover {
    color:white;
    font-size: 1.5rem;
    text-decoration: underline;
}

.header {
    display:block;
    display:flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding-top: 3rem;
    background-color: #000000;
    color: #b28e5c;
}

.main-title {
    display: inline-block;
    font-size: 2.5rem;
    font-family: "Cinzel",sans-serif;
    line-height: 1.8rem;
    margin: .5rem auto;
}

.secondary-title {
    display: inline-block;
    font-size: 1.5rem;
    font-family: "Vollkorn",sans-serif;
    margin: 1rem auto;
    padding-top: 1rem;
    border-top: .1rem solid #b28e5c;
}

.banner_container {
    position: relative;
    overflow: hidden;
}

.freedom-container{
    position: absolute;
    bottom: 15%;
    left: 8%;
    display: flex;
}

.freedom {
    
    font-family: "Vollkorn",sans-serif;
    font-size: 10vw;
    color:white;
    
}

.banner-img {
    max-width: 100%;
    max-height: 100%;
}

.main-about {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    margin: 1.5rem 1.5rem;
    max-width: 100%;
    color:#b28e5c;
}

.main-about h2 {
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    max-width: 39.6rem;
}

.main-about p {   
    text-align: center;
    max-width: 39.6rem;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}

.bike-img:hover {
    transition: all 1000ms;
}

.col img {
    max-width: 30%;
    max-height: auto;
}

#row-one {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: -1rem;
}

#solo-tree {
    margin:0 3%;
    margin-bottom: -10%;
}

#row-two {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
}

#row-three {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: -15%;
    padding-bottom: 2rem;
    border-bottom: 3px solid #b28e5c;
}

.staff {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: #b28e5c;
    margin: 1.5rem 0;
}

.staff h3 {
    font-size: 2rem;
    font-family: "montserrat", sans-serif;
    margin-bottom: 1rem;
}

.staff img {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 100%;
    margin-left: 3rem;
}

.staff img {
    max-width: 33%;
    height: auto;
}

.staff-img p {
    padding-left: 3rem;
}

.staff-info {
    font-family: "Vollkorn", sans-serif;
}

.staff-info p {
    max-width: 38rem;
    margin: 1rem 3rem;
}

.footer {
    display: inline-flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
     width: 100%;
     max-width: 100%;
     height: 2.5rem;
     padding-left: .5rem;
     padding-bottom: .4rem;
     background-color: #000000;
     color: #b28e5c; 
     border-top: 2px solid #b28e5c;
     font-size: 1rem;
}

.footer li {
    flex-shrink: 2;
    flex-grow: 1;
    
}